{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"settings": {
		"import/resolver": "webpack"
	},
	"env": {
		"browser": true
	},
	"globals": {
		"React": true,
		"PropTypes": true
	},
	"rules": {
		"object-curly-spacing": 0,
		"import/no-unresolved": "off",
		"import/first": "off",
		"import/no-webpack-loader-syntax": "off",
		"import/no-extraneous-dependencies": "off",
		"import/prefer-default-export": "off",
		"import/extensions": "off",
		"arrow-parens": "off",
		"linebreak-style": "off",
		"no-tabs": "off",
		"indent": ["warn", "tab", {"SwitchCase": 1}],
		"quote-props": [2, "consistent", {"keywords": false, "unnecessary": true, "numbers": false }],
		"no-extra-boolean-cast": "off",

		"react/jsx-filename-extension": "off",
		"react/jsx-indent": ["warn", "tab"],
		"react/prefer-stateless-function": "off",
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-indent-props": "tab",
		"react/forbid-prop-types": "off",
		"jsx-a11y/label-has-for": "off",
		"react/no-array-index-key": "warn",
		"react/sort-comp": "off",
		"react/jsx-no-undef": ["error", {"allowGlobals": true}]
	}
}
